.NewJobButton{
padding-right: 50px;
padding-bottom: 20px;
}

.FormGroupsTfi{
	padding: 10px;
	border: solid 1px;
	 box-shadow: 0px 3px 3px;


}


.submit_button{
	margin-left: 70px;
}


.New_button{
	margin-left: 210px;
}