.NewJobButton {
	padding-right: 50px;
	padding-bottom: 20px;
}

.FormGroupsTfi {
	padding: 10px;
	box-shadow: 7px 7px 7px #797979;
	color: white;
	background-color: #27aae1;
}

.submit_button {
	margin-left: 70px;
}

.New_button {
	margin-left: 210px;
}

.userContainer {
	padding-bottom: 200px;
}
